/* CSS Stylesheet for the rm.spiritof2021.online website
** Respective URL:  cambitas.spiritof2021,online/index.html, rm.spiritof2021.online/scheduling.html
** Date of Creation:  Thursday, 23 December 2021
** Author:  Roddy A. Stegemann 
*/


/**** General Layout ****/
 
div#wrapper {
	width: 720px;
	margin: 0 auto;
	padding: 10px 20px 10px 20px;
}

main {
	font-size: 1.1em;
	font-family: "Palatino", sans-serif;
}

header {
	text-align: center;
}

header img, footer img {
	width: 100%;
}

header h1 {
	margin-bottom: -0.5em;
}

section h1 {
	text-align: center;
	font-size: 2.5em;
}

section h2 {
	text-align: left;
}
 
/**** Forms ****/
 
 form#create_entry {
 	display: flex;
 	flex-direction: column;
 	margin-bottom: 1em;
 }
 
 div#schedule {
 	margin-top: 1em;
 }
 
 div#fieldsets {
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 	margin-bottom: 1em;
 }
 
 div#confirmation_buttons {
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 }
 
 div#confirmation_buttons div.schedule_confirmation {
	margin: 1em;
	border:1px solid black;
	padding: 1em;
	margin-top: 0.8em;	
 }
 
 div#button {
 	display: block;
 }
 
 div#button_selection {
 	display: flex;
 	flex-direction: row;
 	justify-content: center;
 	margin-top: 1em;
 	margin-bottom: 1em;	
 }
 
 div#button_selection input {
 	width: 120px;
 	margin-top: 1em;
 	margin-left: 0.2em;
 	margin-right: 0.2em;
 }
 
 /**** jQuery UI Select Menu ****/
 
fieldset {
  border-width: 0.3em;
}

fieldset legend {
  font-size: 1.2em;
  font-weight: bold;
}

fieldset#subscriber_info input, fieldset#contact_info input {
	margin-bottom: 1em;
}


label {
  display: block;
}

label.first_input {
	margin-top: 1em;
}

/**** Hidden GUID <div> ****/

#guid, #timezone {
	display: none;
}

