<h3>Debasement &#40;A Way to Cheat the System&#41;</h3>

<p>In the end, cheating is a source of fun to which we are all prone.  It is a kind of play that teaches us the importance of rules in human affairs, how to maintain them, and when to discard them.</p>

<p>We are all risk takers to some extent, and we all like to make rules for others to follow when it is clear that we can benefit from their imposition.  We are also prone to setting goals and targets, and the rules imposed by others and ourselves can truly frustrate the achievement of our objectives.</p>

<p>Few of us take pleasure in being imposed upon, and accepting a rule for the sake of its existence is hardly a proposition that all, or even many of us are willing to accept without painful enforcement.  Even then, we rebel, if the rule appears to be of no reasonable benefit to anyone, but those who impose it.  Our willingness to accept rules depends on many factors including their source, their reasonableness, their obvious visible benefit, and their enforcement.</p>

<p>Accordingly, rules that we can easily circumvent without breaking, are acknowledged and forgotten, as they no longer pose a hindrance.  We have found an alternative avenue to our objective&#33;  Obviously there are rules &#8212; such as the laws of nature &#8212; that we are foolish to oppose &#8212; well, at least, outright.  Even these, however, present a challenge that we often seek to overcome through various means.  It took us many centuries of scientific experimentation and engineering ingenuity to learn how to fly and overcome the law of gravity.  Still, the law exists, and we do not dare oppose it without a parachute or bungee cord.  The market laws of supply and demand are similarly strict, for trade and sharing are a part of what it means to be human.</p> 

<p>We are all born into this world subject to the laws of nature and the rules that each of our respective societies impose upon us as basic truths of thought and behavior.  Each society achieves this necessary imposition through legal codes, cultural traditions, and parental and sibling prerogatives.  Still, each of us must learn these rules anew, and none of us has any clue as to which rules are immutable and which are not.  Indeed, much of growing&#8208;up is about &#34;learning the rules&#34; &#8212; what we can and cannot do, and where and when it can or cannot be done.  These rules are hardly matters that we acquire automatically; rather they are acquired through much experimentation including trial and error with both beneficial and not so beneficial consequences.</p>

<p>Part of &#34;learning the rules&#34; includes how to make them and why they should be made. Children at play are forever creating their own games by making rules where none before existed.  If they are bad rules from which no one seems to benefit, they are quickly abandoned and new ones created.  And, if they bring pleasure by invoking challenge and excitement, but little harm, they become tradition that is passed down from generation to generation and define the childhood games of a specific culture. It takes much effort to learn which rules are beneficial, which are immutable, and which are spurious, arbitrary, or at best symbolic.  And, there are many rules that we learn when we are young that we never come to appreciate until we have become much older.  Indeed, there are those who arrived before us who know a good deal more about about many things that we will eventually come to know with their assistance, if we are kind and open.  Or, very painfully on our own, if we are not.</p>   

<p>Rules that benefit the powerful and influential at the expense of everyone else are unlikely to endure, because like the aforementioned traits of human nature we all demand fair play and rebel when it is not enforced.  We like to watch sports, because we like to watch ourselves excel in fair competition that adheres to the rules of the game.  For, after all, the rules are there, in part, to protect us from injury.  How wildly we jeer, when a referee unintentionally makes a bad call that his own limited perspective deems correct.  It were sometimes, as if a referee could not naturally err, so angry do we become.</p>  

<p>When there are so many rules that no one individual is capable of understanding them all, two kinds of individuals naturally arise&#58; those who would enforce any and all rules no matter their relevance to the situation at hand, and those who would follow same with similar diligence and absence of thought.  Intelligent, industrious, and creative people naturally rebel against such an authoritarian mentality and those who would follow along without objection take umbrage against such intelligence and industry.  For, after all, it disrupts the social order. This confrontation can lead to still another form of behavior &#8212; that ot the disaffected individual.</p>
<p>Such individuals see the current social order as an obstacle to their own ambition and would either destroy it or use it against itself to benefit themselves in complete disregard to the harm that it brings to others.  Then too, there are the delusional who would change everything and everyone to suit their own poorly conceived, but earnestly desired idealistic purposes.  The progressive wing of the Democrat Party is a good example of this latter instance.  ANTIFA and their racist counterpart, BLM, are good examples of the first instance.  And, countless members of the so-called <em>deep state</em> -- also, dubbed the <em>Washington Swamp</em> or <em>Washington Establishment</em> -- comprise many of the second instance.  Such individuals are becoming increasingly more common in American society, as confusion about the aforementioned codes, traditions, and prerogatives become muddled by new technology and the massive influx of new immigrants from different cultures from around the world.  Diversity is a benefit that comes with a cost, and we must learn to weigh the two.</p>

<p>But, let us not jump too far ahead and run far astray from our objective as a result&#39;  Mount Cambitas is tall and the vista becomes ever better as we rise.</p>
