<p>In order to understand how real &#40;hard, sound&#41; money came about you must understand the nature of barter &#8212; in the end, a fairly easy concept, but one that is more easily understood than achieved, unless of course, you are very good at haggling.</p>

<p>In order for barter to be effective three simple conditions must be met:
	<ol>
		<li>Party A must have something that Party B wants. </li>
		<li>Party B must have something that Party A wants.</li>
		<li>Both parties must agree that voluntary exchange is the best means of obtaining what each other wants.</li>
	</ol>
</p>

<p>An obvious, but less desirable alternative to barter is theft. This latter usually occurs when the thief places his own welfare above that of the person from whom he steals, and the thief is unafraid of any wrath that may result from his victim&#39;s loss. This latter condition is the reason that most theft occurs through stealth &#8212; say, at night, or behind closed doors.</p>

<p>Now, if you have nothing to exchange and wish to live in harmony with others, there is a far better alternative to theft.  Make for yourself what it is that you or others want.  This leads us to another important, but unnecessary condition for barter to take place:
	<ol start="4">
		<li>Party A has more of what Party B wants than what Party A needs or wants of same, and Party B has more of what Party A wants than what Party B needs or wants of same. </li>
	</ol>
When one has more of what one wants, one likely also has some idea of how to measure or count what one has more of.  That one can count or measure what one wishes to trade makes it easier to haggle and barter.</p>

<p>Important is that each side of the trade walks away with the feeling that he is better off for having traded. Else, why would either party to the trade engage in the haggle in the first place?  Also, if both sides feel that they have gained equitably from the exchange, there is a good chance that they will trade again in the future.</p> 

<p>Perhaps now, you are beginning to understand how the notion of <em>real money</em> came about as a <em>medium&#8208;of&#8208;exchange</em>. For, if Party A has something that everyone wants, and Party B has only what Party A wants, then Party A can give to Party B what everyone wants, and Party B can obtain whatever he wants from any other party &#8212; say, Party C.  In effect, we go from <em>two&#8208;party barter</em> to <em>three&#8208;party money exchange</em> in which each act of exchange includes <em>a buyer</em> &#40;the person who surrenders what everyone wants&#41;, and <em>a seller</em> &#40;the person who surrenders what only the buyer wants and receives in return what it is that everyone wants&#41;.</p>

<p>In the end, money is only worth what it can buy, unless you already have all that you need and can use it for decoration and proof that you have everything that you need. Decoration has its advantage.  Indeed, no one will fear you, if you appear to have everything that you need.  As a result, you are more likely to have friends.</p>

<p>Just do not wear or show too much of what you do not need, else you become an object of envy, be accused of greed, and become a target of others&#39; theft.</p>

