<p>Most people accepted the coins of the master coinsmiths at their face value and put their trust in whatever political or other governmental authority had his insignia (selfie, coat-of-arms, etc.) imprinted on the coin.  Such trust was, of course, sometimes an error, but the European Reformation and later Enlightenment had not yet transpired.  One had only to announce publicly his belief in his Savior, Jesus Christ, and all was well. Unfortunately, charlatans can be found in all religious faiths, and the early Catholic Church was not an exception in this regard.</p>

<p>No, it was the &quot;peer-review&quot; of other craftsmen and coinsmiths who tested the veracity of one's faith by subjecting the coin of these prominent officials to high temperatures and examining what emerged.  For, once subjected to such temperature the metal alloys contained in each coin could be easily separated, cooled, and weighed thus allowing the craftsman or coinsmith to verify the amount of precious metal contained in each Such was the alchemy of the late Middle Ages.</p>

<p>No, the value of a coin depended on much more than the value of the metal contained in each coin, for like any good and service traded in the market place <em>real money</em> was subject to the market laws of supply and demand. This said, the imprint (insignia) that each coin bore played an important role in the relative demand for each coin.  And, the demand for a coin whose imprint was proven to be dishonest would suffer so long as there were other coins that could fill the role of the discredited mark and associated coin.  Competitive markets were just as important then, as they are today.</p>

<p>In the end, just as there were knowledgeable craftsman who knew how to purify the metal that went into a coin, so too were there knowledgeable craftsmen who knew how to accomplish the opposite.  These latter who would take the original coin, melt it down, replace a portion of the original metal with an alloy that did not significantly change the appearance or weight of the original, and reform it with an insignia identical to the original.  In this way, they could produce and &quot;sell&quot; more coin than they took in and thereby increase their purchasing power when the coins were returned to the market. This cheapening in the value of a coin by altering its metal content was known as <em>debasement</em>, and there were many ways to achieve it.</p 

<p>Indeed, even <em>real money</em> could be turned into counterfeit.  Simply, the amount of counterfeit coin that one could produce was limited by the cost of its creation, the amount of deformation in metal content that one could bring about without detection, and the availability of other, higher quality coin.</p>

<p>So long as most people who engaged in commerce did not know how to melt and reform a coin of lesser real worth, and so long as everyone believed that the coin with which he traded was, indeed, standard, all of the benefits of a standardized unit of account could be enjoyed.  One had only to agree on a unit whose value changed little across time, and that any community of traders could introduce, if only someone would take the initiative and introduce it in a manner that everyone could trust. </p>

<p>Indeed, any object or service that could be packaged and counted was now a candidate for commercial exchange. You had only to take whatever you had in excess and others might want to a place where everyone agreed to meet somewhat punctually.  There you would advertise your product and find thereby someone to purchase it. What you received in return could then be used to purchase from someone else whatever it was that they had in excess, and that you wanted.</p>

<p>Generally speaking, everyone was made better off, and most markets flourished.</p>

<p>How much money you received or gave in return for what you surrendered or obtained was still a matter for negotiation &#8212; this said, with much less haggling than had ever been required in the past. Furthermore, things that everyone wanted, that could be quickly counted or measured, and whose quality could be easily assessed, quickly led to standardized prices and less haggling.</p>

<p>Sure, these prices would change according to the availability &#40;supply&#41; and want &#40;demand&#41; of the good or service traded, but you only needed to look to your neighbor to know how much money to charge or how much to offer.</p>

<p>Only those with something of quality truly above the standard would dare demand more money in return than everyone else, and only those, who could convince a seller that his need was so much greater than everyone else&#39;s, might convince a seller to lower his price. No one wanted to appear very greedy or inhuman on either side of the trade. For, a supplier could quickly lose customers, if he appeared greedy, and buyers could quickly lose credibility, if their tears were assessed as something less than authentic. Indeed, the market place, like the church, temple, or mosque, was a place of value to everyone. It was a place where one could meet a need or satisfy a want with others just like themselves.</p>

