<p>Sound &#40;hard)&#41; money does not work in the same way as <em>soft money</em>.  In fact, it works much better.</p>

<p>Unlike <em>soft money</em> that is issued by someone whom we allow to claim control of our money supply, <em>hard money</em> can be created by anyone with the wherewithal to purchase precious metal and form it into coin.  Whereas <em>soft money</em> is created out of paper and electrons and costs next to nothing to produce, <em>hard money</em> must be mined, transported, refined, and coined.  Once created this latter is sold into the market place for goods and services to feed, clothe, and shelter those work in the mines, drive the trucks, smelt the ore, reform the smelted ore into bullion, sell the bullion to a mint, design and stamp the coin with machines purchased from the production of still others, and put it up for sale on the open market.  In effect, <em>hard money</em> is just like any other good or service for which people sacrifice their time, resources, and effort to produce something that can be sold in the market place in exchange for those things that satisfy their basic needs such as food, medicine, clothing, and shelter.</p>

<p>We have been deluded into believing that we cannot thrive without <em>soft money</em>. Quite the opposite is true. <em>soft money</em> benefits those who issue it and their closest friends and collaborators at the expense of everyone else. Then too, we have been taught to be losers, and it is time that we shed our ignorance.</p>

<p>No, I am not suggesting that everyone carry a purse filled with gold and silver coin.  We can still use paper and electrons for most everything that is bought and sold, but this is for a later discussion as we climb to the top of the invisible peak of Mount Cambitas.  Let us build a solid foundation.</p>  

<p>Unlike <em>soft money</em> that was invented by thieves posing as benefactors, <em>hard money</em> was not invented.  It was discovered.  It is the natural outcome of a barter economy looking for a better way to do business.  Indeed, <em>hard money</em> is just another commodity with an important set of properties&#58; 
	<ol>
		<li>It is durable. You can store it for long periods of time, and it does not change. Steel rusts, silver tarnishes, cigarettes dry out, but gold is forever the same. The oldest gold artifact found in Europe existed between 4,500 to 4,000 B.C. </li>
		<li>It is desired by most, but of little practical value to any. The aforementioned artifact was found in Bulgaria. It is surmised to have been used as a bead for a necklace or some other bodily ornament. It is a closed band with a hole through the middle.</li>
		<li> It is malleable. It can be shaped and formed into recognizable, countable units that are measurable according to some standard such as weight. </li>
		<li>Its purity can be assessed. Once formed, it can be determined whether someone has tampered with it. </li>
		<li>It is scarce. Its total quantity &#8212; all of it that exists in the world &#8212; is not subject to rapid change. </li>
		<li>It is portable. It can be easily carried from one location to the next. In effect, it is easily traded for other commodities. </li>
	</ol>
</p>
	
<p>During many thousands of years of barter gold and silver were naturally selected as the preferred sources of <em>hard money</em>. As silver was more plentiful and easier to obtain, it was more commonly used. Tarnishing was not an important issue, because the tarnish was kept at bay through use.  The constant rubbing removed the tarnish and kept the coin bright in appearance.</p>