<p>Markets were happy, vibrant places of human worth and interaction.</p>

<p>The market place was of much more value than it appeared on the surface, however. For, with everything having a price relative to the same medium of exchange, we could now know without ever really knowing how society could best allocate and distribute what was truly scarce &#8212; our time, our labor, and the material resources necessary to produce whatever it was that we needed or desired.</p>

<p>Adam Smith&#39;s <em>invisible hand</em> was, indeed, the <em>relative price mechanism</em>&#33;</p>

<p>Did people have reason to believe that anyone would ever cheat&#63; Well, of course, but this is the beauty of competition. You had only to look to see what everyone else was doing in order to know, if you were being treated fairly. For example, if everyone were selling approximately the same amount as last time, and there were about the same number of people wanting what it was that they were selling, then you could reasonably expect to receive or pay the same amount of money for whatever it was that you wanted or were trying to rid yourself of.</p>

<p>Yes, buyers could collude and feign a shortage where none existed, but the incentive to do so was truly minimal. For whatever was hoarded would eventually have to be sold and would accumulate over time. This would create an excess for which prices would have to be lowered else the suppliers would starve for want of buyers. What is more, no seller could ever know with any certainty that demand for what they had would always be the same. One never knew in advance what new substitute product would be brought to market, what new supplier might suddenly appear, or what the next day&#39;s weather might bring.</p>

<p>Then too, wherever there was a concentration of wealth, there would be a concentration of thieves, and policing was a valuable service that could be provided from a variety of sources. And, what about the places that were international in nature, where coin from all over the world would meet in the same place&#63; And yes, there were those who took risks that they should never have taken.</p>
