<p>Once the idea of using one commodity as a medium of exchange for all other commodities caught on, the value of the naturally selected commodity increased in value relative to the value of all other commodities, goods, and services.  After all, it was no longer just a material for making attractive ornamentation, but also a medium&#8208;of&#8208;exchange that was now in demand by everyone for the purpose of exchange.</p>

<p>As with everything of value to a broad range of human beings two things happened as a result&#58;  on the one hand, the idea and its manifestation became increasingly refined with the passage of time&#59; on the other hand, certain individuals began looking for ways to cheat on the common good to which everyone else agreed.</p>

<h3>Coinage &#40;A Refinement&#41;</h3>

<p>In their raw form most metals are impure, oddly shaped, and vary in weight.  Gold and silver are no exception in this regard.  As a result, the idea of coinage was invented &#8212; a procedure of standardization in which the metal would be made pure, uniformly shaped and weighted, and then labeled as a means to identify the author of the workmanship and the integrity of his craft. Like a modern brand name the identity of the craftsman ensured the quality of the coin to which his name was attached.</p>

<p>Coinage could be performed by anyone who had the skill and the means to defend his trade.  Once the coin was produced, it would be traded just like any other commodity.  In effect, the craftsman would take his coin to nearby or distant markets where he could trade it in exchange for goods and services.  As a seller in the market place the craftsman of coin differed from other tradesman only in so far as he would receive the wares and services of others in exchange for his money, rather than receive money in exchange for his wares and service.</p>

<p>The craftsman&#39;s incentive to produce more or less coin would depend on the number of goods and services that he could fetch in exchange for his labor and the cost of producing his coin.  In effect, he was just another merchant&#8208;craftsman &#8212; little different from any other.</p>

<p>Indeed, like other craftsmen who sold their wares, once traded the craftsman relinquished ownership of his coin to the coin&#39;s buyer, but his mark &#40;brand name&#41; was carried far and wide.</p>

<p>Coin was a durable good very different &#8212; say, from grain.  Once purchased, grain was transformed into flour, and then into bread.  Soon thereafter, it disappeared in someone&#39;s stomach.  Like the <em>Adidas</em> logo on your shoes that you display on behalf of <em>Adidas</em> wherever you go, the coin&#39;s mark advertised the coin&#39;s producer, wherever it was spent.  Indeed, once the craftsman was established, he no longer had to market his wares; those who participated in the market place did it for him&#33;</p>    

<p>Further, the craftsman no more had a monopoly on the supply of money than did a farmer on the supply of grain.  Surely arable land was initially far more abundant than land with a silver or gold mineral deposit, but as agriculture took hold and the local population grew, free arable land became increasingly scarce.  Eventually the only way to acquire land of any kind was through trade or theft.  Indeed, everything worthy of trade comes at a cost and <em>real money</em> was no different.</p>

<p>Alas, just as a thief would want to rob a farmer&#39;s grain silo during times of famine&#59; so too would he seek to rob a craftsman of his ore or finished coin.</p>  <p>What made a store of real money different from a silo filled with grain was its tradability and portability.  Grain could only be sold to those who were hungry or who made their living by producing things from grain that others could eat.  <em>Real money</em> could be traded for anything that its owner wanted and someone else was willing and able to sell him. Further, unlike grain that required baskets and wagons to carry, the same amount of market value in precious metal could be carried in one&#39;s pocket.  Neither grain, nor <em>real money</em> had the name of its owner on the ware &#40;both were fungible&#41;, but money was far easier to steal and conceal, and was just as nameless as stolen grain.</p>

<p>Always there were those who did not respect the property of others, and who would seek to take advantage of the highly concentrated store of market value that was contained in <em>real money</em>.  For this reason, there was always the willing prince who would trade protection for the craftsman&#39;s mark. The craftsman would continue his craft as before, but rather than his mark alone, the insignia of the prince would also appear on the craftsman&#39;s coin.  Once it became fashionable, many a prince would purchase a coin maker&#39;s trade, and soon royal government mints began to appear.</p>

<p>Like any trademark the coin&#39;s imprint &#40;insignia&#41; was an effective designation of quality only in those areas where the tradesman or prince were known.  As a consequence, the coins of well&#8208;known princes and craftsmen were widely traded and were of greater value due to their demand.  It made no difference whether the coin was produced by a private firm or an aristocratic household&#59; it was the prestige of the mark and the verifiable quality for which the imprint stood that counted.</p>

<p>In Ancient Rome the coinage of the empire typically bore the image of the emperor.  In 15th century Italy it was often the mark of the bank who hired the craftsmen to produce the coins from ore purchased by the bank from distant mines.</p>

